body {
  font-size: 16px;
  font-family: arial;
  color: rgb(92, 92, 92);
}

h1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
}
h2 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.inbox-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 4px;
  height: fit-content;
  padding: 1% 3%;
  box-shadow: 0px 0px 5px grey;
}
.module-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.3rem;
}
.profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
}

.time-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.time {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.handle-container {
  padding-top: 0.6rem;
  display: flex;
  justify-content: flex-start;
}

.post-body-text {
  color: black;
}

.youtube-video-container {
  border: 1px solid rgb(192, 190, 190);
  display: flex;
  border-radius: 16px;
  overflow: hidden;
}

.video-box {
  flex: 1;
  height: auto;
  background-color: rgb(192, 190, 190);
  max-width: 100px;
}

.text {
  margin-left: 0.5rem;
  flex: 2;
}
